<header class="site-header" style="background-color: #f2f2f2;">
    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  
  <!-- 
  the next line is your 'home' link for the blog (has your name by default, i changed it to say home) 
  you could put your extra link next to it like this:
  -->
      <a class="site-title" href="http://kblanchard.com"><img src="{{ "images/logo.jpg" | relative_url }}"</a>

        <nav class="site-nav">
         
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>


        </nav>
      {%- endif -%}
    </div>